{% extends "portfolio/base.html" %}
{% block page_content %}
<form action="" method="GET" class="col-md-4 offset-md-2">
    {{ searchForm }}
    <button type="submit" class="btn btn-success">search</button>
</form>
<div class="col-md-4 offset-md-2">
    <h1>Blog Index</h1>
    {% for post in posts %}
    <h2><a href="{% url 'blog:detail' post.pk %}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
            <a href="{% url 'blog:category' category.name %}">
                {{ category.name }}
            </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ post.body | slice:":400" }} ...</p>
    {% endfor %}
</div>

{% endblock %}